/** General Style Info **/
body {
	 font-family: Trebuchet MS, Arial, sans-serif;
}
span{
  
}
a {
	
}
a:hover {

}
a img {
	border:none;
}
h1, h2, h3, h4 {
	
}
h1 {
	font-size: 120%;
	font-weight: bold;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 165%;
}
h4 {
	font-weight: normal;
}

.clear{
  clear:both;
}
/** Layout **/
  
#container {
	width:960px;
	margin: 0 auto;
}

#header{
	
}


#content{
  
}

#pages #content{
 
}

#footer {
	
}

#mainNav{
	
}
#secondaryNav{
	
}

/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}

/** Forms **/

/* ojo con este form para arreglar*/
/**
form {
  /*clear: both;
  color : #5B5B5B;
  padding: 16px 20px;  
} **/
/**
label {
display: block;
font-size: 90%;
padding-left: 1em;
padding-right: 0.5em;
}**/

input{

}
select {
 
  
}
/**
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}

fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}
**/

/** Project's Styles **/

/** Sprite **/

.sprite{
	background-image:url("../img/sprite.png");
	background-repeat:no-repeat;
	display:block;
	/*text-indent:-99999px;*/
	overflow:hidden;
}

.boton_comprar{height:50px;width:161px;background-position:0 0;}
.boton_registrarse_ingresar{height:18px;width:81px;background-position:-161px 0;}
.brillo_boton_buscar{height:21px;width:1px;background-position:-161px -18px;}
.carrito_compras{height:26px;width:29px;background-position:-162px -18px;float:left;}
.icono_mi_cuenta{height:22px;width:16px;background-position:-191px -18px;}
.linea_separadora_vertical{height:1px;width:656px;background-position:-242px 0;}
.logo_tecnocenter{height:67px;width:247px;background-position:0 -50px;}
.menu_navegacion_activo{height:32px;width:182px;background-position:-242px -1px;}
.menu_navegacion_inactivocopia{height:32px;width:182px;background-position:-424px -1px;}
.punta_tooltip{height:26px;width:25px;background-position:-207px -18px;}
.separador_articulos{height:309px;width:2px;background-position:0 -117px;}
.separador_footer{height:27px;width:2px;background-position:-232px -18px;}
.separador_main{height:9px;width:950px;background-position:-2px -117px;}
.separador_nav{height:50px;width:272px;background-position:-247px -50px;}
.trama_btn_activo{height:27px;width:246px;background-position:-606px -1px;}
.trama_btn_inactivo{height:27px;width:246px;background-position:-519px -50px;}
/** End Sprite **/ 
  
/** Start Home **/

.color_home{
  color:#0DAACE;
}

/** Content **/

.content_wrap{
  background:url("../img/board_cont.png") no-repeat;
  width:991px;
  height:523px;
  margin-right:15.5px;
  
}



/** Header **/

.header_wrap{
 
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background:#EEEEEE;
  width: 950px;
  height:112px;
  -webkit-box-shadow: 2px 2px 6px rgb(0,0,0);
  -moz-box-shadow: 2px 2px 6px rgb(0,0,0);
  box-shadow: 2px 2px 6px rgb(0,0,0);
 
}

#logo {
  float:left;
  margin-left:45px;
  margin-top:25px;
}

#pages .login{
       display:none;
}

/** Header Form Login **/

.login{
  width: 245px;
  height: 61px;
  float: right;
  margin-right: 86px;
  margin-top: 21px;
  font-size:12px;
}

.login form div {
  
}

.login fieldset{
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border : 1px solid #ccc;
  width: 245px;
  height: 61px;
  background: #ffffff;
  
}

.login legend{
   font-weight: bold;
   color:#25516c;
   width:127px;
   text-align:center;
   margin-left:58px;
   
}

.login label{
  width:75px;
  float:left;
}
.login input{
  width: 102px;
  height: 13px;
 
}


/** Footer Home **/



/** End Home **/

/**  Navigation  **/
  #content-wrap{
  } 

  #main-navigation{
    width:950px;
    height:32px;
    margin-top:5px;
    font-size:18px;
  }
  
 
  
  .main_nav  li {
    float: left;
  }
  
    
  
  
  .main_nav li a.other{
    background: url("../img/sprite.png") no-repeat -424px -1px;
    display: block;
    height:32px;
    width:180px;
    text-align: center;
    text-decoration: none;
    padding-top:8px;
  }
  
  .main_nav li a.final{
    background: url("../img/sprite.png") no-repeat -424px -1px;
    display: block;
    height:32px;
    width:182px;
    text-align: center;
    text-decoration: none;
    padding-top:8px;
  }
  
  .main_nav li a.current {
    background: url("../img/sprite.png") no-repeat -242px -1px;
    display: block;
    height:32px;
    width:182px;
    text-align: center;
    text-decoration: none;
    padding-top:8px;
  }
  
  #left-content ul{
  	width:	246px;
  }
  
  .second_nav {
   
  }
  
  .second_nav li{
    margin-top:7px;
    width:	246px;
    height: 27px;
    font-size:13px;
    font-family: Verdana , Arial, sans-serif;
    text-transform:uppercase;
    
  }
  .second_nav li a{
    background: url("../img/sprite.png") repeat-x -606px -1px;
	width:	225px;
	height: 27px;
	display: block;
	line-height: 27px;
	vertical-align:middle;
	text-align:right; 
    text-decoration: none;
    padding-right: 20px;
    color:#25516d;
    font-weight: bold;
    
  }
  
  .second_nav li a:hover {
    background: url("../img/sprite.png") no-repeat -519px -50px;
    
  }
  
  .main_nav li a:hover {
    background: url("../img/sprite.png") no-repeat -242px -1px;
    
  }
  
  div.yellow{
    background:#ffab36;
    width: 950px;
    height:9px;
  } 
  
  div.white{
    background:#ffffff;
    width: 950px;
    height: 3px;
  }
  
  #second-navigation{
    background:#3c3c3c;
    width:268px;
    float:left;
  }
  
  
  #left-header{
    background:#339edc;
    height:150px;
    padding-top:18px;
  }
  
  .separ{
    margin-left: -7px;
  }
  
  .color{
    color:#25516d;
  }
  
  #left-header .separ_tittle{
    text-shadow: 1px 1px 1.5px #ffffff;
    font-size:17px;
    margin-top:8px;
    
  }
  
  
  #left-header .icon{
    background-position:-162px -18px;
    margin-left: 21px;
    margin-top: 5px;
    margin-right: 13px;
  }
  
  #left-content{
    background:#1d3241;
    height:881px;
    padding-top:29px;
  }
  
  .button_wrap{
    margin-bottom:29px;
  }
  
  #left-content .separ_tittle{
    text-shadow: 1px 1px 1.5px #ffffff;
    font-size:20px;
    margin-top:8px;
    text-align:center;
  }
  
   .tooltip{
   	width: 245px;
   	height: 255px;
   	background: #21AEDD;
   	position:absolute;
   	border: 1px solid #d0d0d0;
   	margin-left:275px;
   	margin-top:-130px;
   	z-index:1;
   	display:none;
  
  }
  
  .tooltip_menu{
    width: 186px;
   	height: 223px;
   	background: #555555;
   	position:absolute;
   	-moz-border-radius: 1em;
  	-webkit-border-radius: 1em;
  	margin-top:16px;
  	margin-left:29.5px;
 
  }
  
  .triangulo_tooltip{
    position:absolute;
    margin-left:251px;
   	margin-top:-26px;
   	z-index:2;
   	display:none;
  }
   
  li:hover .tooltip, li:hover .triangulo_tooltip, li:hover .tooltip_menu {
     display:block;
  }
  
  .tooltip_nav li {
    
    margin-top:7px;
    width:	186px;
    height: 27px;
    font-size:13px;
    font-family: Verdana , Arial, sans-serif;
    text-transform:uppercase;
    
  }
  .tooltip_nav li a{
	background-image:none;
	width:	186px;
	height: 27px;
	display: block;
	line-height: 27px;
	vertical-align:middle;
	text-align:center; 
    text-decoration: none;
    padding-right: 20px;
    color:#000000;
    font-weight: bold;
    
  }
  
  .tooltip_nav li a:hover {
    background-image:none;
    color:#21AEDD;
    
  }
  
  .promocion_nav ul {
   height:238px;
   width:246px;
  }
  
  .promocion_nav li {
    
    margin-top:7px;
    width:	116px;
    height: 65px;
    float:left;
    
  }
  .promocion_nav li a{
	background-image:none;
	-moz-border-radius: 1em;
  	-webkit-border-radius: 1em;
  	border : 1px solid #ccc;
	width:	116px;
	height: 65px;
	display: block;
    color:#FF2323;
    
  }
 
  #left-footer{
    background:#ff2323;
    height:40px;
  }
  
 
  
/** End Navigation **/

/**  Content  **/

#content_wrap {
  background:#C73E14;
  width: 682px;
  float:left;
  
}

#producto_destacado {
   width:657px;
   height:360px;
   -moz-border-radius: 0.5em;
   -webkit-border-radius: 0.5em;
   background:#333333;
   font-family: Verdana;
}

#producto_destacado span {
   font-size:28px;
}

#producto_destacado .descripcion_producto {
   color:white;
   width:194px;
   height: 113px;
   background:#292e33;
   
}

#producto_destacado .compra_producto {
   
}

#buscar_producto{

}

#productos{

}




/**	 End Content **/ 